section {
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-image: url('audio/background.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
 	padding-top : 10px;
	padding-bottom : 10px;
	border-radius : 20px;
	
}

body{
	background-color: #303137;
	font-family : corbel;
}

.data{
	 padding-top : 40px;
	  padding-left : 0px;
}

.gradient{
/*  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 5%, rgba(0,0,0,0.75) 20%, rgba(0,0,0,0.75) 80%, rgba(0,0,0,0.45) 95%, rgba(0,0,0,0) 100%); */
	background: linear-gradient(180deg, rgba(0,0,0,0.45) 5%, rgba(0,0,0,0.75) 20%, rgba(0,0,0,0.75) 80%, rgba(0,0,0,0.55) 95%, rgba(0,0,0,0) 100%);
}

.gridbase {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
  align-items: start;
  z-index:5;
}

.clam{
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 50%);
	text-align : center;
	font-weight: bold;
	color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 15px;
}

.clam h1 {
	font-size:400%;
	font-weight: bold;
	text-shadow: 0px 2px 50px rgba(0,0,0,1);
	transition: color .5s;
	text-align:left;
}

.clam h1:hover {
	color:#00a1d5;
}

.logo {
	padding-left:10%;
	height:150px; 
	transition: height 0.05s;
	z-index: 5000;
}

.logo:hover {
	height: 180px;
}

.empty {
	height: 300px;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 2px;
}
p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  text-align : justify;
}

button{
	background-color: #f5f5f5;
  color: #111111;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
  border-radius : 50px;
}

.container {
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left {
	width: 30%;
	  padding-bottom: 30%;
	border : 1px solid #f5f5f5;
	border-width : 4px;
	border-radius: 50%;
	z-index : 1;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 5) inset;
}

.left.peter{
	background: url("audio/peter.png")no-repeat center / cover;
}
.left.peter:active {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 5) inset;
}
.left.peter:active::before {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 5) inset;
}

.left.quagmire{
	background: url("audio/quagmire.png")no-repeat center / cover;
}
.left.quagmire:active {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 5) inset;
}
.left.quagmire:active::before {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 5) inset;
}

.left.joe{
	background: url("audio/joe.png")no-repeat center / cover;
}
.left.joe:active {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 5) inset;
}
.left.joe:active::before {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 5) inset;
}

.left.cleveland{
	background: url("audio/cleveland.png")no-repeat center / cover;
}
.left.cleveland:active {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 5) inset;
}
.left.cleveland:active::before {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 5) inset;
}

.right {
	width: 70%;
	margin: 0;
	margin-top: -75px;
	border-width : 4px;
	min-height: 300px;
	background-color: #303137;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: 8px;
	color: #f5f5f5;
	transition: background-color 0.5s;
}

.right:hover {
	background-color:#51535d;
}

.info{
	height:250px;
}

.message-box {
		width : 94%;
		height : auto;
		padding : 15px;
		margin-top: 10px;
		text-align : justify;
		background-color : #f5f5f5;
		color : #111111;
		border-radius : 5px;
		}
		
.about {height:10%;
	background-color:#303137;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	color: #f5f5f5;
	z-index: 5;
}

.glow {
	margin-top:25%;
	margin-bottom:10%;
	border-radius : 20px;
	transition: box-shadow 0.2s;
}

.glow:hover{
  box-shadow: 0 0 50px #000000;
}

@media only screen and (max-width: 1200px) {
	.gridbase {
		grid-template-columns: auto auto;
	}

	.data h1{
		font-size:30px;
	}
}

@media only screen and (max-width: 900px) {
		.clam{
		width:100%;
	}

	.clam h1 {
		font-size: 300%;
		text-align:center;
	}
	.gridbase {
		grid-template-columns: 100%;
	}
	.data h1{
		font-size:30px;
	}
	.info{
	height:auto;
	}
	.logo {
	padding-left:0%;
	height:60px; 
	position: fixed;
	left:20px;
	bottom: 10px;
	}
	.logo:hover {
		height: 90px;
	}
}